extends layout

block content
	h3.
		Students
	ul
		each student, i in studentlist
			li#student_list_item
				a(href="#") #{student.Student} is of age #{student.Age} and works as #{student.Occupation}